@import "tailwindcss";

@font-face{
    font-family : 'Droid-Sans';
    src : url('../font/DroidSans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family : 'Droid-Sans-Bold';
    src : url('../font/DroidSans-Bold.ttf');
}

@font-face{
  font-family: 'Knewave';
  src : url('../font/Knewave-Regular.ttf');
}

@theme {
    --font-DSans: "Droid-Sans" , sans-serif;
    --font-DSansBold : 'Droid-Sans-Bold', sans-serif;
    --font-Knewave : 'Knewave', sans-serif;
}

@layer utilities {
  .swiper-ease-linear .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .swiper2 .swiper-slide {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

  .text-stroke-1 {
    -webkit-text-stroke: 3px #000000;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 18px #FFEA00;
  }
  .text-stroke-3 {
    -webkit-text-stroke: 43px #0051FF;
  }
  .text-stroke-4 {
    -webkit-text-stroke: 2px #0037FF;
  }
  .text-stroke-5 {
    -webkit-text-stroke: 2px #FFBB00;
  }
  .text-stroke-6 {
    -webkit-text-stroke: 2px #000000;
  }
  .text-stroke-7 {
    -webkit-text-stroke: 36px #0051FF;
  }
  .text-stroke-8 {
    -webkit-text-stroke: 1.5px #000000;
  }
  .text-stroke-9{
    -webkit-text-stroke: 3px #000000;
  }
  .text-stroke-10{
    -webkit-text-stroke: 18px #FFEA00;
  }
  .text-stroke-11{
    -webkit-text-stroke: 35px #0051FF;
  }
  .text-stroke-12{
    -webkit-text-stroke: 20px #0051FF;
  }
  .text-stroke-13{
    -webkit-text-stroke: 8px #FFEA00;
  }
  .text-stroke-14{
    -webkit-text-stroke: 3px #000000;
  }
  .text-stroke-15{
    -webkit-text-stroke: 1px #000000;
  }
  .text-stroke-16{
    -webkit-text-stroke: 3px #000000;
  }
}

