@import "tailwindcss";

@font-face{
    font-family : 'Droid-Sans';
    src : url('../font/DroidSans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family : 'Droid-Sans-Bold';
    src : url('../font/DroidSans-Bold.ttf');
}

@theme {
    --font-DSans: "Droid-Sans" , sans-serif;
    --font-DSansBold : 'Droid-Sans-Bold', sans-serif;
}